[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "==1.10.1"
coverage = "==4.5.1"

[packages]
dj-database-url = "==0.5.0"
Django = "==2.1.2"
gunicorn = "==19.9.0"
psycopg2 = "==2.7.5"

[requires]
python_version = "3.6"
